<div id="home">
  <div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Column 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit ac
          erat quis ornare. Morbi pretium libero sed enim porta ultrices. Donec
          neque ex, interdum in aliquam vitae, hendrerit sed risus. Ut vel
          sapien eget ligula gravida tincidunt eu ac lorem. Vivamus sit amet
          odio in nulla mollis iaculis. Sed feugiat justo lorem, dictum
          venenatis mi ornare a. Donec sit amet neque sodales, vehicula mi nec,
          ullamcorper nunc. Curabitur sed luctus leo. Nulla ullamcorper est
          arcu, quis laoreet justo ultricies ut. Mauris volutpat lorem vitae
          magna elementum, vel hendrerit nisl venenatis. Cras eu felis vel metus
          ullamcorper lobortis ut in nibh.
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit ac
          erat quis ornare. Morbi pretium libero sed enim porta ultrices. Donec
          neque ex, interdum in aliquam vitae, hendrerit sed risus. Ut vel
          sapien eget ligula gravida tincidunt eu ac lorem. Vivamus sit amet
          odio in nulla mollis iaculis. Sed feugiat justo lorem, dictum
          venenatis mi ornare a. Donec sit amet neque sodales, vehicula mi nec,
          ullamcorper nunc. Curabitur sed luctus leo. Nulla ullamcorper est
          arcu, quis laoreet justo ultricies ut. Mauris volutpat lorem vitae
          magna elementum, vel hendrerit nisl venenatis. Cras eu felis vel metus
          ullamcorper lobortis ut in nibh.
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit ac
          erat quis ornare. Morbi pretium libero sed enim porta ultrices. Donec
          neque ex, interdum in aliquam vitae, hendrerit sed risus. Ut vel
          sapien eget ligula gravida tincidunt eu ac lorem. Vivamus sit amet
          odio in nulla mollis iaculis. Sed feugiat justo lorem, dictum
          venenatis mi ornare a. Donec sit amet neque sodales, vehicula mi nec,
          ullamcorper nunc. Curabitur sed luctus leo. Nulla ullamcorper est
          arcu, quis laoreet justo ultricies ut. Mauris volutpat lorem vitae
          magna elementum, vel hendrerit nisl venenatis. Cras eu felis vel metus
          ullamcorper lobortis ut in nibh.
        </p>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit ac
              erat quis ornare. Morbi pretium libero sed enim porta ultrices. Donec
              neque ex, interdum in aliquam vitae, hendrerit sed risus. Ut vel
              sapien eget ligula gravida tincidunt eu ac lorem. Vivamus sit amet
              odio in nulla mollis iaculis. Sed feugiat justo lorem, dictum
              venenatis mi ornare a. Donec sit amet neque sodales, vehicula mi nec,
              ullamcorper nunc. Curabitur sed luctus leo. Nulla ullamcorper est
              arcu, quis laoreet justo ultricies ut. Mauris volutpat lorem vitae
              magna elementum, vel hendrerit nisl venenatis. Cras eu felis vel metus
              ullamcorper lobortis ut in nibh.
            </p>
          </div>
          <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit ac
              erat quis ornare. Morbi pretium libero sed enim porta ultrices. Donec
              neque ex, interdum in aliquam vitae, hendrerit sed risus. Ut vel
              sapien eget ligula gravida tincidunt eu ac lorem. Vivamus sit amet
              odio in nulla mollis iaculis. Sed feugiat justo lorem, dictum
              venenatis mi ornare a. Donec sit amet neque sodales, vehicula mi nec,
              ullamcorper nunc. Curabitur sed luctus leo. Nulla ullamcorper est
              arcu, quis laoreet justo ultricies ut. Mauris volutpat lorem vitae
              magna elementum, vel hendrerit nisl venenatis. Cras eu felis vel metus
              ullamcorper lobortis ut in nibh.
            </p>
          </div>
          <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit ac
              erat quis ornare. Morbi pretium libero sed enim porta ultrices. Donec
              neque ex, interdum in aliquam vitae, hendrerit sed risus. Ut vel
              sapien eget ligula gravida tincidunt eu ac lorem. Vivamus sit amet
              odio in nulla mollis iaculis. Sed feugiat justo lorem, dictum
              venenatis mi ornare a. Donec sit amet neque sodales, vehicula mi nec,
              ullamcorper nunc. Curabitur sed luctus leo. Nulla ullamcorper est
              arcu, quis laoreet justo ultricies ut. Mauris volutpat lorem vitae
              magna elementum, vel hendrerit nisl venenatis. Cras eu felis vel metus
              ullamcorper lobortis ut in nibh.
            </p>
          </div>
    </div>
  </div>
</div>
